In [16]:
import pandas as pd
import requests 
import random
from bs4 import BeautifulSoup
from tqdm.notebook import tqdm

In [17]:
billboard100=pd.read_csv('billboard_100.csv')

In [18]:
billboard100.head()

   Unnamed: 0  rank             title                         artist
0           0     1       First Class                    Jack Harlow
1           1     2         As It Was                   Harry Styles
2           2     3        Wait For U  Future Featuring Drake & Tems
3           3     4       Moscow Mule                      Bad Bunny
4           4     5  Titi Me Pregunto                      Bad Bunny

In [19]:
billboard100 = billboard100.drop('Unnamed: 0', axis = 1)

In [20]:
bill100 = billboard100

In [21]:
bill100['title'] = bill100['title'].str.lower()
bill100['artist'] = bill100['artist'].str.lower()
bill100['title'] = bill100['title'].str.lstrip()
bill100['title'] = bill100['title'].str.rstrip()

In [22]:
bill100

    rank             title                           artist
0      1       first class                      jack harlow
1      2         as it was                     harry styles
2      3        wait for u    future featuring drake & tems
3      4       moscow mule                        bad bunny
4      5  titi me pregunto                        bad bunny
..   ...               ...                              ...
95    96            frozen                         lil baby
96    97    young harleezy                      jack harlow
97    98                23                         sam hunt
98    99            poison  jack harlow featuring lil wayne
99   100            honest      justin bieber & don toliver

[100 rows x 3 columns]

In [23]:
song_title = bill100['title'].values.tolist()
print(song_title)

['first class', 'as it was', 'wait for u', 'moscow mule', 'titi me pregunto', 'despues de la playa', 'heat waves', 'big energy', 'about damn time', 'me porto bonito', 'enemy', 'thought you should know', 'stay', 'party', 'the heart part 5', 'un ratito', 'ghost', 'tarot', 'puffin on zootiez', 'woman', 'dua lipa', 'yo no soy celoso', 'churchill downs', 'bad habits', 'super gremlin', 'ojitos lindos', 'provenza', 'thats what i want', 'shivers', 'cold heart (pnau remix)', 'neverita', 'la corriente', 'wasted on you', 'efecto', 'boyfriend', 'bam bam', "'til you can't", 'mamiii', 'sweetest pie', 'aa', 'abcdefu', 'industry baby', 'numb little bug', 'aguacero', 'dos mil 16', 'easy on me', 'need to know', 'trouble with a heartbreak', 'otro atardecer', "this love (taylor's version)", 'andrea', "doin' this", 'in a minute', 'el apagon', 'un verano sin ti', 'un coco', 'to the moon!', 'thousand miles', 'me fui de vacaciones', 'ensename a bailar', 'love you better', 'hrs and hrs', "i'm on one", '712pm', 'nail tech', 'take my name', 'never say never', "she's all i wanna be", 'right on', "we don't talk about bruno", 'damn strait', "when you're gone", 'if i was a cowboy', 'agosto', '2step', 'freaky deaky', 'something in the orange', 'what happened to virgil', "i'm dat n***a", 'never wanted to be that girl', 'get into it (yuh)', 'hold my hand', 'slow down summer', 'whiskey on you', "don't think jesus", 'peru', 'massaging me', "i'd do anything to make you smile", 'pushin p', 'flower shops', 'me or sum', 'beers on me', 'flowers', 'fingers crossed', 'the motto', 'frozen', 'young harleezy', '23', 'poison', 'honest']

In [24]:
song_recomender=input('What is your favorite song? ').lstrip().rstrip().lower()
if len(song_recomender) < 2:
    print('Not a song, please try again')
elif song_recomender in song_title:
    new_song=random.choice(song_title)
    print('The song you choose is hot in the billboard 100! Maybe you will like to try: ', new_song)
else:
    print('You song is not hot in the billboard 100, we have no recomendations')

What is your favorite song? as it was
The song you choose is hot in the billboard 100! Maybe you will like to try:  slow down summer

In [25]:
import urllib.request
html = urllib.request.urlopen('https://www.youtube.com/results?search_query='+new_song.replace(" ","+"))

In [26]:
import re

In [27]:
video_ids = re.findall(r"watch\?v=(\S{11})",html.read().decode())

In [28]:
from IPython.display import YouTubeVideo

In [29]:
play = YouTubeVideo("https://www.youtube.com/watch?v=" + video_ids[0])

In [30]:

display(play)