In [1]:
import pandas as pd
import numpy as np

In [2]:
pwd

'/Users/macbookpro/Documents/GitHub/IronAndy'

In [3]:
df=pd.read_csv('strokes_data.csv')

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 43400 entries, 0 to 43399
Data columns (total 12 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   id                 43400 non-null  int64
 1   gender             43400 non-null  object
 2   age                43400 non-null  float64
 3   hypertension       43400 non-null  int64
 4   heart_disease      43400 non-null  int64
 5   ever_married       43400 non-null  object
 6   work_type          43400 non-null  object
 7   Residence_type     43400 non-null  object
 8   avg_glucose_level  43400 non-null  float64
 9   bmi                41938 non-null  float64
 10  smoking_status     30108 non-null  object
 11  stroke             43400 non-null  int64
dtypes: float64(3), int64(4), object(5)
memory usage: 4.0+ MB

In [5]:
df['stroke'].value_counts()

0    42617
1      783
Name: stroke, dtype: int64

#EDA / identify problems and fix these with LOG REG
-drop duplicates
-replace nulls
-encode strings as numbers
- (optional) scale numeric values

#get your log regression mdoel
#fit it to your data
define X define y, train test split(), fit()

#evaluate model
-confusion matrix
-accuracy score

In [6]:
df.head()

,id,gender,age,hypertension,heart_disease,ever_married,work_type,Residence_type,avg_glucose_level,bmi,smoking_status,stroke
0,30669,Male,3.0,0,0,No,children,Rural,95.12,18.0,NaN,0
1,30468,Male,58.0,1,0,Yes,Private,Urban,87.96,39.2,never smoked,0
2,16523,Female,8.0,0,0,No,Private,Urban,110.89,17.6,NaN,0
3,56543,Female,70.0,0,0,Yes,Private,Rural,69.04,35.9,formerly smoked,0
4,46136,Male,14.0,0,0,No,Never_worked,Rural,161.28,19.1,NaN,0

In [7]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 43400 entries, 0 to 43399
Data columns (total 12 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   id                 43400 non-null  int64
 1   gender             43400 non-null  object
 2   age                43400 non-null  float64
 3   hypertension       43400 non-null  int64
 4   heart_disease      43400 non-null  int64
 5   ever_married       43400 non-null  object
 6   work_type          43400 non-null  object
 7   Residence_type     43400 non-null  object
 8   avg_glucose_level  43400 non-null  float64
 9   bmi                41938 non-null  float64
 10  smoking_status     30108 non-null  object
 11  stroke             43400 non-null  int64
dtypes: float64(3), int64(4), object(5)
memory usage: 4.0+ MB

In [8]:
df=df.drop_duplicates()

In [9]:
df['stroke'].value_counts()

0    42617
1      783
Name: stroke, dtype: int64

In [10]:
y=df['stroke']

In [11]:
df=df.drop(['id','stroke'],axis=1)

In [12]:
df['bmi']=df['bmi'].fillna(0)

In [13]:
df_cat=df.select_dtypes(include=['object'])

In [14]:
df_cat_enc=pd.get_dummies(df_cat, drop_first=True)

In [15]:
df_cat_enc.columns

Index(['gender_Male', 'gender_Other', 'ever_married_Yes',
       'work_type_Never_worked', 'work_type_Private',
       'work_type_Self-employed', 'work_type_children', 'Residence_type_Urban',
       'smoking_status_never smoked', 'smoking_status_smokes'],
      dtype='object')

In [16]:
df_cat_enc.shape

(43400, 10)

In [17]:
df_num=df.select_dtypes(exclude=['object'])

In [18]:
df_cat=df_cat.replace(np.nan,'unknown')

In [19]:
df_cat.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 43400 entries, 0 to 43399
Data columns (total 5 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   gender          43400 non-null  object
 1   ever_married    43400 non-null  object
 2   work_type       43400 non-null  object
 3   Residence_type  43400 non-null  object
 4   smoking_status  43400 non-null  object
dtypes: object(5)
memory usage: 2.0+ MB

In [20]:
df["smoking_status"].fillna("unknown", inplace = True)

In [21]:
df_num['bmi']=df_num['bmi'].fillna(0)

In [22]:
df_num.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 43400 entries, 0 to 43399
Data columns (total 5 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   age                43400 non-null  float64
 1   hypertension       43400 non-null  int64
 2   heart_disease      43400 non-null  int64
 3   avg_glucose_level  43400 non-null  float64
 4   bmi                43400 non-null  float64
dtypes: float64(3), int64(2)
memory usage: 2.0 MB

In [23]:
df_num.shape

(43400, 5)

In [24]:
df_full=pd.concat([df_cat_enc,df_num],axis=1)

In [25]:
df_full.head()

,gender_Male,gender_Other,ever_married_Yes,work_type_Never_worked,work_type_Private,work_type_Self-employed,work_type_children,Residence_type_Urban,smoking_status_never smoked,smoking_status_smokes,age,hypertension,heart_disease,avg_glucose_level,bmi
0,1,0,0,0,0,0,1,0,0,0,3.0,0,0,95.12,18.0
1,1,0,1,0,1,0,0,1,1,0,58.0,1,0,87.96,39.2
2,0,0,0,0,1,0,0,1,0,0,8.0,0,0,110.89,17.6
3,0,0,1,0,1,0,0,0,0,0,70.0,0,0,69.04,35.9
4,1,0,0,1,0,0,0,0,0,0,14.0,0,0,161.28,19.1

In [26]:
X=df_full

#build model
-get your log regression model
-fit it to your data
-define X define y, train_test_split(), model.fit()

In [27]:
from sklearn.linear_model import LogisticRegression

In [28]:
logreg=LogisticRegression() #set up

In [29]:
from sklearn.model_selection import train_test_split

In [30]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.3, random_state=40)

In [31]:
clf=logreg.fit(X_train,y_train)

/Users/macbookpro/opt/anaconda3/envs/AndyClass/lib/python3.8/site-packages/sklearn/linear_model/_logistic.py:814: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  n_iter_i = _check_optimize_result(