In [1]:
import pandas as pd
import numpy as np 
import matplotlib.pyplot as plt 
import seaborn as sns

In [2]:
df= pd.read_csv('alldata.csv')

In [3]:
df.head()

,position,company,description,reviews,location
0,Development Director,ALS TDI,Development Director\nALS Therapy Development ...,NaN,"Atlanta, GA 30301"
1,An Ostentatiously-Excitable Principal Research...,The Hexagon Lavish,"Job Description\n\n""The road that leads to acc...",NaN,"Atlanta, GA"
2,Data Scientist,Xpert Staffing,"Growing company located in the Atlanta, GA are...",NaN,"Atlanta, GA"
3,Data Analyst,Operation HOPE,DEPARTMENT: Program OperationsPOSITION LOCATIO...,44.0,"Atlanta, GA 30303"
4,Assistant Professor -TT - Signal Processing & ...,Emory University,DESCRIPTION\nThe Emory University Department o...,550.0,"Atlanta, GA"

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6964 entries, 0 to 6963
Data columns (total 5 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   position     6953 non-null   object
 1   company      6953 non-null   object
 2   description  6953 non-null   object
 3   reviews      5326 non-null   float64
 4   location     6953 non-null   object
dtypes: float64(1), object(4)
memory usage: 272.2+ KB

In [5]:
df['position'].unique()

array(['Development Director',
       'An Ostentatiously-Excitable Principal Research Assistant to Chief Scientist',
       'Data Scientist', ..., 'Data Developer / Machine Learning Analyst',
       'Intern Scientist', 'Principal Data Scientist, Deep Learning'],
      dtype=object)

In [6]:
df.columns= df.columns.str.lower()
df.columns

Index(['position', 'company', 'description', 'reviews', 'location'], dtype='object')

In [7]:
df.head()

,position,company,description,reviews,location
0,Development Director,ALS TDI,Development Director\nALS Therapy Development ...,NaN,"Atlanta, GA 30301"
1,An Ostentatiously-Excitable Principal Research...,The Hexagon Lavish,"Job Description\n\n""The road that leads to acc...",NaN,"Atlanta, GA"
2,Data Scientist,Xpert Staffing,"Growing company located in the Atlanta, GA are...",NaN,"Atlanta, GA"
3,Data Analyst,Operation HOPE,DEPARTMENT: Program OperationsPOSITION LOCATIO...,44.0,"Atlanta, GA 30303"
4,Assistant Professor -TT - Signal Processing & ...,Emory University,DESCRIPTION\nThe Emory University Department o...,550.0,"Atlanta, GA"

In [8]:
df = df.applymap(lambda s: s.lower() if type(s) == str else s)

In [9]:
df.head()

,position,company,description,reviews,location
0,development director,als tdi,development director\nals therapy development ...,NaN,"atlanta, ga 30301"
1,an ostentatiously-excitable principal research...,the hexagon lavish,"job description\n\n""the road that leads to acc...",NaN,"atlanta, ga"
2,data scientist,xpert staffing,"growing company located in the atlanta, ga are...",NaN,"atlanta, ga"
3,data analyst,operation hope,department: program operationsposition locatio...,44.0,"atlanta, ga 30303"
4,assistant professor -tt - signal processing & ...,emory university,description\nthe emory university department o...,550.0,"atlanta, ga"

In [10]:
df.tail()

,position,company,description,reviews,location
6959,data developer / machine learning analyst,netapp,are you data-driven? we at netapp believe in t...,574.0,"sunnyvale, ca"
6960,scientist i,"pharmacyclics, an abbvie company",pharmacyclics is committed to the development ...,26.0,"sunnyvale, ca"
6961,intern scientist,oath inc,"oath, a subsidiary of verizon, is a values-led...",5.0,"sunnyvale, ca"
6962,senior data & applied scientist,microsoft,we are the bing core relevance team responsibl...,4618.0,"sunnyvale, ca"
6963,"principal data scientist, deep learning",comcast,comcast’s technology &amp; product organizatio...,11610.0,"sunnyvale, ca 94089"

In [11]:
#cleaning and wrangling the data

In [12]:
df=df(df['postion'].notna)

KeyError: 'postion'

In [ ]:
#wrong

for i in df:
    if(i == 'data_analyst') :
        print ("Element Exists")

In [ ]:
#wrong

if ('data analyst' in df):
    print ("Element Exists")

In [ ]:
#set nan reviews as 0, they were reviews on the company

df['reviews']=df['reviews'].fillna(0)
df