# 1 Lists

##Â semi structured data of dictionaries and lists

In [1]:
classroom= ['sian', 'john', 'roger', 'andy', 'cath', 'fede','lucas', 'miguel', 'pau']

In [2]:
#use our index to do anything eg. grab 5th value of the list.  remember lists start at 0

In [3]:
classroom[4]

'cath'

In [4]:
for i in range(len(classroom)):
    cap_list=classroom[i].upper()

In [5]:
(len(classroom))

9

In [6]:
cap_list

'PAU'

In [7]:
#list comprehension - when iterable target is a list
classroom

['sian', 'john', 'roger', 'andy', 'cath', 'fede', 'lucas', 'miguel', 'pau']

In [8]:
j_list=[i for i in classroom if i.startswith('j')]

In [9]:
jlist=[i.startswith('j') for i in classroom]

In [10]:
j_list

['john']

In [11]:
upper_list=[i.upper() for i in classroom]

In [12]:
upper_list

['SIAN', 'JOHN', 'ROGER', 'ANDY', 'CATH', 'FEDE', 'LUCAS', 'MIGUEL', 'PAU']

In [13]:
# integer / index to select or iterate
#list[int]
#with these integers we cna slice the list
#list [4:8]

In [14]:
upper_list[4:8]

['CATH', 'FEDE', 'LUCAS', 'MIGUEL']

In [15]:
upper_list

['SIAN', 'JOHN', 'ROGER', 'ANDY', 'CATH', 'FEDE', 'LUCAS', 'MIGUEL', 'PAU']

In [16]:
# append a list
# list.append('paupau')
upper_list.append('PAUPAU')

In [17]:
upper_list

['SIAN',
 'JOHN',
 'ROGER',
 'ANDY',
 'CATH',
 'FEDE',
 'LUCAS',
 'MIGUEL',
 'PAU',
 'PAUPAU']

In [18]:
upper_list.remove('PAUPAU')

In [19]:
upper_list

['SIAN', 'JOHN', 'ROGER', 'ANDY', 'CATH', 'FEDE', 'LUCAS', 'MIGUEL', 'PAU']

# 2 Dictionaries

In [20]:
topics={1:'pandas', 2:'sql', 3:'tableau', 4:'agile'}

In [21]:
topics[1] #using the key to select

'pandas'

In [22]:
topics.keys() #review keys of the dictionary

dict_keys([1, 2, 3, 4])

In [23]:
topics[5]='json'  # add a new value to a key pair

In [24]:
topics

{1: 'pandas', 2: 'sql', 3: 'tableau', 4: 'agile', 5: 'json'}

In [25]:
topics.values()

dict_values(['pandas', 'sql', 'tableau', 'agile', 'json'])

In [26]:
for value in topics.values():\
    print(value)

pandas
sql
tableau
agile
json

In [27]:
for key in topics.keys():
    print(key)

1
2
3
4
5

In [28]:
for key, value in topics.items():
    print(key, '....', value)

1 .... pandas
2 .... sql
3 .... tableau
4 .... agile
5 .... json

# 3 Nested Lists

In [29]:
#can see its nested with three sets of open and closed brackets - three seperate lists

sians_class=[['sian', 'john'],
             ['roger','cath','fede','lucas', 'miguel','andy'],
             ['pau']]

In [30]:
sians_class[0][0][0]   #showing first letter, of the first word, of the first list

's'

In [31]:
sians_class[0]

['sian', 'john']

In [32]:
my_family=['leri','aled', 'david',
          ['gilly', ['jack'],'sian'], 
           'carole',['tracy']]

In [33]:
print('my nephew is ' + my_family[3][1][0])

my nephew is jack

In [34]:
my_family[3][1][0]

'jack'

# 4 Nested Dictionaries

In [35]:
shapes={
    1:{'colour':'blue', 'shape':'circle', 'sides':'1'}
    ,
    2:{'colour':'orange', 'shape':'triangle', 'sides':'3'}
    ,
    3:{'colour':'green', 'shape':'square', 'sides':'4'}
}

In [36]:
shapes

{1: {'colour': 'blue', 'shape': 'circle', 'sides': '1'},
 2: {'colour': 'orange', 'shape': 'triangle', 'sides': '3'},
 3: {'colour': 'green', 'shape': 'square', 'sides': '4'}}

In [37]:
print(shapes[3]['sides'])

4

In [38]:
print(shapes[1]['colour'])

blue

In [39]:
print(shapes[2]['shape'])

triangle

In [40]:
shapes[2].keys()

dict_keys(['colour', 'shape', 'sides'])

# 5 Json objects

In [41]:
import json

In [42]:
json_1=json.load(open('example_1.json'))

In [43]:
json_1   #normal dictionary

{'fruit': 'Apple', 'size': 'Large', 'color': 'Red'}

In [44]:
json_2=json.load(open('example_2.json'))  #dictionary with nested list inside

In [45]:
json_2

{'quiz': {'sport': {'q1': {'question': 'Which one is correct team name in NBA?',
    'options': ['New York Bulls',
     'Los Angeles Kings',
     'Golden State Warriros',
     'Huston Rocket'],
    'answer': 'Huston Rocket'}},
  'maths': {'q1': {'question': '5 + 7 = ?',
    'options': ['10', '11', '12', '13'],
    'answer': '12'},
   'q2': {'question': '12 - 8 = ?',
    'options': ['1', '2', '3', '4'],
    'answer': '4'}}}}

In [46]:
json_4=json.load(open('sample4.json'))

In [47]:
json_4

{'people': [{'firstName': 'Joe',
   'lastName': 'Jackson',
   'gender': 'male',
   'age': 28,
   'number': '7349282382'},
  {'firstName': 'James',
   'lastName': 'Smith',
   'gender': 'male',
   'age': 32,
   'number': '5678568567'},
  {'firstName': 'Emily',
   'lastName': 'Jones',
   'gender': 'female',
   'age': 24,
   'number': '456754675'}]}

In [48]:
#prettify the json code - makes it more readable than the output above 

json_formatted=json.dumps(json_4, indent=2)

In [49]:
print(json_formatted)

{
  "people": [
    {
      "firstName": "Joe",
      "lastName": "Jackson",
      "gender": "male",
      "age": 28,
      "number": "7349282382"
    },
    {
      "firstName": "James",
      "lastName": "Smith",
      "gender": "male",
      "age": 32,
      "number": "5678568567"
    },
    {
      "firstName": "Emily",
      "lastName": "Jones",
      "gender": "female",
      "age": 24,
      "number": "456754675"
    }
  ]
}

In [50]:
json_formatted=json.dumps(json_2, indent=2) #make json more readable as above

In [51]:
print(json_formatted)

{
  "quiz": {
    "sport": {
      "q1": {
        "question": "Which one is correct team name in NBA?",
        "options": [
          "New York Bulls",
          "Los Angeles Kings",
          "Golden State Warriros",
          "Huston Rocket"
        ],
        "answer": "Huston Rocket"
      }
    },
    "maths": {
      "q1": {
        "question": "5 + 7 = ?",
        "options": [
          "10",
          "11",
          "12",
          "13"
        ],
        "answer": "12"
      },
      "q2": {
        "question": "12 - 8 = ?",
        "options": [
          "1",
          "2",
          "3",
          "4"
        ],
        "answer": "4"
      }
    }
  }
}