# Semi structured data

In [1]:
{
    "fruit": "Apple",
    "size": "Large",
    "color": "Red"
}    # dictionary, list

{'fruit': 'Apple', 'size': 'Large', 'color': 'Red'}

In [4]:
#every dictionary is made up of a list of values

In [9]:
#a list inside a dictionary inside a dictionary 
[
{
    "quiz": {
        "sport": {
            "q1": {
                "question": "Which one is correct team name in NBA?",
                "options": [
                    "New York Bulls",
                    "Los Angeles Kings",
                    "Golden State Warriros",
                    "Huston Rocket"
                ],
                "answer": "Huston Rocket"
            }
        },
        "maths": {
            "q1": {
                "question": "5 + 7 = ?",
                "options": [
                    "10",
                    "11",
                    "12",
                    "13"
                ],
                "answer": "12"
            },
            "q2": {
                "question": "12 - 8 = ?",
                "options": [
                    "1",
                    "2",
                    "3",
                    "4"
                ],
                "answer": "4"
            }
        }
    }
}

SyntaxError: unexpected EOF while parsing (<ipython-input-9-86d432088f56>, line 41)

In [6]:
# a list of dictionaries

In [8]:

	{
		color: "red",
		value: "#f00"
	},
	{
		color: "green",
		value: "#0f0"
	},
	{
		color: "blue",
		value: "#00f"
	},
	{
		color: "cyan",
		value: "#0ff"
	},
	{
		color: "magenta",
		value: "#f0f"
	},
	{
		color: "yellow",
		value: "#ff0"
	},
	{
		color: "black",
		value: "#000"
	}
    ]

NameError: name 'color' is not defined

In [10]:
{
  "people" : [
    {
       "firstName": "Joe",
       "lastName": "Jackson",
       "gender": "male",
       "age": 28,
       "number": "7349282382"
    },
    {
       "firstName": "James",
       "lastName": "Smith",
       "gender": "male",
       "age": 32,
       "number": "5678568567"
    },
    {
       "firstName": "Emily",
       "lastName": "Jones",
       "gender": "female",
       "age": 24,
       "number": "456754675"
    }
  ]
}

{'people': [{'firstName': 'Joe',
   'lastName': 'Jackson',
   'gender': 'male',
   'age': 28,
   'number': '7349282382'},
  {'firstName': 'James',
   'lastName': 'Smith',
   'gender': 'male',
   'age': 32,
   'number': '5678568567'},
  {'firstName': 'Emily',
   'lastName': 'Jones',
   'gender': 'female',
   'age': 24,
   'number': '456754675'}]}