In [1]:
pwd

'/Users/macbookpro/Documents/GitHub/lab-customer-analysis-round-1-master 2/files_for_lab/csv_files'

In [2]:
import pandas as pd

In [3]:
df1 = pd.read_csv('file1.csv') #define the data frame, read the csv file

In [4]:
df2 = pd.read_csv('file2.csv') #define the data frame, read the csv file

In [5]:
df3 = pd.read_csv('file3.csv') #define the data frame, read the csv file#whats

In [6]:
df1.shape

(4008, 11)

In [7]:
df2.shape

(996, 11)

In [8]:
df3.shape

(7070, 11)

In [9]:
df1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4008 entries, 0 to 4007
Data columns (total 11 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   Customer                   1071 non-null   object
 1   ST                         1071 non-null   object
 2   GENDER                     954 non-null    object
 3   Education                  1071 non-null   object
 4   Customer Lifetime Value    1068 non-null   object
 5   Income                     1071 non-null   float64
 6   Monthly Premium Auto       1071 non-null   float64
 7   Number of Open Complaints  1071 non-null   object
 8   Policy Type                1071 non-null   object
 9   Vehicle Class              1071 non-null   object
 10  Total Claim Amount         1071 non-null   float64
dtypes: float64(3), object(8)
memory usage: 344.6+ KB

In [10]:
df2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 996 entries, 0 to 995
Data columns (total 11 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   Customer                   996 non-null    object
 1   ST                         996 non-null    object
 2   GENDER                     991 non-null    object
 3   Education                  996 non-null    object
 4   Customer Lifetime Value    992 non-null    object
 5   Income                     996 non-null    int64
 6   Monthly Premium Auto       996 non-null    int64
 7   Number of Open Complaints  996 non-null    object
 8   Total Claim Amount         996 non-null    float64
 9   Policy Type                996 non-null    object
 10  Vehicle Class              996 non-null    object
dtypes: float64(1), int64(2), object(8)
memory usage: 85.7+ KB

In [11]:
df1.columns = map(str.lower, df1.columns)

In [12]:
df2.columns

Index(['Customer', 'ST', 'GENDER', 'Education', 'Customer Lifetime Value',
       'Income', 'Monthly Premium Auto', 'Number of Open Complaints',
       'Total Claim Amount', 'Policy Type', 'Vehicle Class'],
      dtype='object')

In [13]:
df1.rename(columns={'ST': 'state'}, inplace=True)
df2.rename(columns={'ST': 'state'}, inplace=True)

In [14]:
df1.rename(columns = str.lower, inplace = True)
df2.rename(columns = str.lower, inplace = True)
df3.rename(columns = str.lower, inplace = True)

In [15]:
df1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4008 entries, 0 to 4007
Data columns (total 11 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   customer                   1071 non-null   object
 1   st                         1071 non-null   object
 2   gender                     954 non-null    object
 3   education                  1071 non-null   object
 4   customer lifetime value    1068 non-null   object
 5   income                     1071 non-null   float64
 6   monthly premium auto       1071 non-null   float64
 7   number of open complaints  1071 non-null   object
 8   policy type                1071 non-null   object
 9   vehicle class              1071 non-null   object
 10  total claim amount         1071 non-null   float64
dtypes: float64(3), object(8)
memory usage: 344.6+ KB

In [16]:
df2.columns

Index(['customer', 'state', 'gender', 'education', 'customer lifetime value',
       'income', 'monthly premium auto', 'number of open complaints',
       'total claim amount', 'policy type', 'vehicle class'],
      dtype='object')

In [17]:
df3.columns

Index(['customer', 'state', 'customer lifetime value', 'education', 'gender',
       'income', 'monthly premium auto', 'number of open complaints',
       'policy type', 'total claim amount', 'vehicle class'],
      dtype='object')

In [18]:
df1.columns

Index(['customer', 'st', 'gender', 'education', 'customer lifetime value',
       'income', 'monthly premium auto', 'number of open complaints',
       'policy type', 'vehicle class', 'total claim amount'],
      dtype='object')

In [19]:
df2.rename(columns = str.lower, inplace = True)

In [20]:
df2.columns

Index(['customer', 'state', 'gender', 'education', 'customer lifetime value',
       'income', 'monthly premium auto', 'number of open complaints',
       'total claim amount', 'policy type', 'vehicle class'],
      dtype='object')

In [21]:
df3.columns

Index(['customer', 'state', 'customer lifetime value', 'education', 'gender',
       'income', 'monthly premium auto', 'number of open complaints',
       'policy type', 'total claim amount', 'vehicle class'],
      dtype='object')

In [22]:
df1.columns

Index(['customer', 'st', 'gender', 'education', 'customer lifetime value',
       'income', 'monthly premium auto', 'number of open complaints',
       'policy type', 'vehicle class', 'total claim amount'],
      dtype='object')

In [25]:
df1.rename(columns={'st': 'state'},
          inplace=True, errors='raise')

In [26]:
df1.columns

Index(['customer', 'state', 'gender', 'education', 'customer lifetime value',
       'income', 'monthly premium auto', 'number of open complaints',
       'policy type', 'vehicle class', 'total claim amount'],
      dtype='object')

In [27]:
df2.columns

Index(['customer', 'state', 'gender', 'education', 'customer lifetime value',
       'income', 'monthly premium auto', 'number of open complaints',
       'total claim amount', 'policy type', 'vehicle class'],
      dtype='object')

In [28]:
df3.columns

Index(['customer', 'state', 'customer lifetime value', 'education', 'gender',
       'income', 'monthly premium auto', 'number of open complaints',
       'policy type', 'total claim amount', 'vehicle class'],
      dtype='object')

In [29]:
df_all=pd.concat([df1, df2, df3], axis=0, ignore_index=True)

In [30]:
df_all

,customer,state,gender,education,customer lifetime value,income,monthly premium auto,number of open complaints,policy type,vehicle class,total claim amount
0,RB50392,Washington,NaN,Master,NaN,0.0,1000.0,1/0/00,Personal Auto,Four-Door Car,2.704934
1,QZ44356,Arizona,F,Bachelor,697953.59%,0.0,94.0,1/0/00,Personal Auto,Four-Door Car,1131.464935
2,AI49188,Nevada,F,Bachelor,1288743.17%,48767.0,108.0,1/0/00,Personal Auto,Two-Door Car,566.472247
3,WW63253,California,M,Bachelor,764586.18%,0.0,106.0,1/0/00,Corporate Auto,SUV,529.881344
4,GA49547,Washington,M,High School or Below,536307.65%,36357.0,68.0,1/0/00,Personal Auto,Four-Door Car,17.269323
...,...,...,...,...,...,...,...,...,...,...,...
12069,LA72316,California,M,Bachelor,23405.98798,71941.0,73.0,0,Personal Auto,Four-Door Car,198.234764
12070,PK87824,California,F,College,3096.511217,21604.0,79.0,0,Corporate Auto,Four-Door Car,379.200000
12071,TD14365,California,M,Bachelor,8163.890428,0.0,85.0,3,Corporate Auto,Four-Door Car,790.784983
12072,UP19263,California,M,College,7524.442436,21941.0,96.0,0,Personal Auto,Four-Door Car,691.200000
12073,Y167826,California,M,College,2611.836866,0.0,77.0,0,Corporate Auto,Two-Door Car,369.600000

In [31]:
df_all.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 12074 entries, 0 to 12073
Data columns (total 11 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   customer                   9137 non-null   object
 1   state                      9137 non-null   object
 2   gender                     9015 non-null   object
 3   education                  9137 non-null   object
 4   customer lifetime value    9130 non-null   object
 5   income                     9137 non-null   float64
 6   monthly premium auto       9137 non-null   float64
 7   number of open complaints  9137 non-null   object
 8   policy type                9137 non-null   object
 9   vehicle class              9137 non-null   object
 10  total claim amount         9137 non-null   float64
dtypes: float64(3), object(8)
memory usage: 1.0+ MB

In [33]:
full=pd.concat([df1,df2,df3])  #concat the results but ignores the order anyway

In [34]:
full.shape

(12074, 11)

In [35]:
full.head()

,customer,state,gender,education,customer lifetime value,income,monthly premium auto,number of open complaints,policy type,vehicle class,total claim amount
0,RB50392,Washington,NaN,Master,NaN,0.0,1000.0,1/0/00,Personal Auto,Four-Door Car,2.704934
1,QZ44356,Arizona,F,Bachelor,697953.59%,0.0,94.0,1/0/00,Personal Auto,Four-Door Car,1131.464935
2,AI49188,Nevada,F,Bachelor,1288743.17%,48767.0,108.0,1/0/00,Personal Auto,Two-Door Car,566.472247
3,WW63253,California,M,Bachelor,764586.18%,0.0,106.0,1/0/00,Corporate Auto,SUV,529.881344
4,GA49547,Washington,M,High School or Below,536307.65%,36357.0,68.0,1/0/00,Personal Auto,Four-Door Car,17.269323

In [36]:
full=pd.concat([df1, df2, df3], axis=0, ignore_index=True)   #concat the results to ignore order

In [37]:
full.head()

,customer,state,gender,education,customer lifetime value,income,monthly premium auto,number of open complaints,policy type,vehicle class,total claim amount
0,RB50392,Washington,NaN,Master,NaN,0.0,1000.0,1/0/00,Personal Auto,Four-Door Car,2.704934
1,QZ44356,Arizona,F,Bachelor,697953.59%,0.0,94.0,1/0/00,Personal Auto,Four-Door Car,1131.464935
2,AI49188,Nevada,F,Bachelor,1288743.17%,48767.0,108.0,1/0/00,Personal Auto,Two-Door Car,566.472247
3,WW63253,California,M,Bachelor,764586.18%,0.0,106.0,1/0/00,Corporate Auto,SUV,529.881344
4,GA49547,Washington,M,High School or Below,536307.65%,36357.0,68.0,1/0/00,Personal Auto,Four-Door Car,17.269323

In [41]:
full['number of open complaints'].value_counts()   #shows us the counts on open complaints, is the data good?

0         5629
1/0/00    1626
1          765
2          283
1/1/00     247
3          230
4          119
1/2/00      93
1/3/00      60
5           44
1/4/00      29
1/5/00      12
Name: number of open complaints, dtype: int64

In [ ]:
#sian says it looks like bad data with a lots of open complains on the 1st of the months

In [42]:
full.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 12074 entries, 0 to 12073
Data columns (total 11 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   customer                   9137 non-null   object
 1   state                      9137 non-null   object
 2   gender                     9015 non-null   object
 3   education                  9137 non-null   object
 4   customer lifetime value    9130 non-null   object
 5   income                     9137 non-null   float64
 6   monthly premium auto       9137 non-null   float64
 7   number of open complaints  9137 non-null   object
 8   policy type                9137 non-null   object
 9   vehicle class              9137 non-null   object
 10  total claim amount         9137 non-null   float64
dtypes: float64(3), object(8)
memory usage: 1.0+ MB

In [46]:
full['customer lifetime value'].value_counts()



#if theres a % sign 
# then x 100
#turn inot a float

16468.220790    6
5246.278375     6
22332.439460    6
4270.034394     6
5107.163002     6
               ..
7477.176362     1
15700.284360    1
2968.077571     1
5452.171237     1
2611.836866     1
Name: customer lifetime value, Length: 8211, dtype: int64

In [47]:
full = full.drop(["education"], axis = 1) #using this to drop the education column

In [48]:
full

,customer,state,gender,customer lifetime value,income,monthly premium auto,number of open complaints,policy type,vehicle class,total claim amount
0,RB50392,Washington,NaN,NaN,0.0,1000.0,1/0/00,Personal Auto,Four-Door Car,2.704934
1,QZ44356,Arizona,F,697953.59%,0.0,94.0,1/0/00,Personal Auto,Four-Door Car,1131.464935
2,AI49188,Nevada,F,1288743.17%,48767.0,108.0,1/0/00,Personal Auto,Two-Door Car,566.472247
3,WW63253,California,M,764586.18%,0.0,106.0,1/0/00,Corporate Auto,SUV,529.881344
4,GA49547,Washington,M,536307.65%,36357.0,68.0,1/0/00,Personal Auto,Four-Door Car,17.269323
...,...,...,...,...,...,...,...,...,...,...
12069,LA72316,California,M,23405.98798,71941.0,73.0,0,Personal Auto,Four-Door Car,198.234764
12070,PK87824,California,F,3096.511217,21604.0,79.0,0,Corporate Auto,Four-Door Car,379.200000
12071,TD14365,California,M,8163.890428,0.0,85.0,3,Corporate Auto,Four-Door Car,790.784983
12072,UP19263,California,M,7524.442436,21941.0,96.0,0,Personal Auto,Four-Door Car,691.200000
12073,Y167826,California,M,2611.836866,0.0,77.0,0,Corporate Auto,Two-Door Car,369.600000

In [51]:
full=full.dropna(subset=['customer']) # drop the null values

In [52]:
full.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 9137 entries, 0 to 12073
Data columns (total 10 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   customer                   9137 non-null   object
 1   state                      9137 non-null   object
 2   gender                     9015 non-null   object
 3   customer lifetime value    9130 non-null   object
 4   income                     9137 non-null   float64
 5   monthly premium auto       9137 non-null   float64
 6   number of open complaints  9137 non-null   object
 7   policy type                9137 non-null   object
 8   vehicle class              9137 non-null   object
 9   total claim amount         9137 non-null   float64
dtypes: float64(3), object(7)
memory usage: 785.2+ KB

In [53]:
full=full.drop_duplicates()

In [54]:
full.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 9134 entries, 0 to 12073
Data columns (total 10 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   customer                   9134 non-null   object
 1   state                      9134 non-null   object
 2   gender                     9012 non-null   object
 3   customer lifetime value    9127 non-null   object
 4   income                     9134 non-null   float64
 5   monthly premium auto       9134 non-null   float64
 6   number of open complaints  9134 non-null   object
 7   policy type                9134 non-null   object
 8   vehicle class              9134 non-null   object
 9   total claim amount         9134 non-null   float64
dtypes: float64(3), object(7)
memory usage: 785.0+ KB

In [55]:
full.describe()

             income  monthly premium auto  total claim amount
count   9134.000000           9134.000000         9134.000000
mean   37824.847055            110.393146          430.480412
std    30359.232933            581.471461          289.617985
min        0.000000             61.000000            0.099007
25%        0.000000             68.000000          266.961153
50%    34240.000000             83.000000          377.505619
75%    62446.500000            109.000000          546.050821
max    99981.000000          35354.000000         2893.239678

In [57]:
greater_0=full[full['income']>0]

In [58]:
greater_0

,customer,state,gender,customer lifetime value,income,monthly premium auto,number of open complaints,policy type,vehicle class,total claim amount
2,AI49188,Nevada,F,1288743.17%,48767.0,108.0,1/0/00,Personal Auto,Two-Door Car,566.472247
4,GA49547,Washington,M,536307.65%,36357.0,68.0,1/0/00,Personal Auto,Four-Door Car,17.269323
5,OC83172,Oregon,F,825629.78%,62902.0,69.0,1/0/00,Personal Auto,Two-Door Car,159.383042
6,XZ87318,Oregon,F,538089.86%,55350.0,67.0,1/0/00,Corporate Auto,Four-Door Car,321.600000
8,DY87989,Oregon,M,2412750.40%,14072.0,71.0,1/0/00,Corporate Auto,Four-Door Car,511.200000
...,...,...,...,...,...,...,...,...,...,...
12067,TF56202,California,M,5032.165498,66367.0,64.0,0,Personal Auto,Two-Door Car,307.200000
12068,YM19146,California,F,4100.398533,47761.0,104.0,0,Personal Auto,Four-Door Car,541.282007
12069,LA72316,California,M,23405.98798,71941.0,73.0,0,Personal Auto,Four-Door Car,198.234764
12070,PK87824,California,F,3096.511217,21604.0,79.0,0,Corporate Auto,Four-Door Car,379.200000
12072,UP19263,California,M,7524.442436,21941.0,96.0,0,Personal Auto,Four-Door Car,691.200000

In [56]:
full[full['income']<=0]

,customer,state,gender,customer lifetime value,income,monthly premium auto,number of open complaints,policy type,vehicle class,total claim amount
0,RB50392,Washington,NaN,NaN,0.0,1000.0,1/0/00,Personal Auto,Four-Door Car,2.704934
1,QZ44356,Arizona,F,697953.59%,0.0,94.0,1/0/00,Personal Auto,Four-Door Car,1131.464935
3,WW63253,California,M,764586.18%,0.0,106.0,1/0/00,Corporate Auto,SUV,529.881344
7,CF85061,Arizona,M,721610.03%,0.0,101.0,1/0/00,Corporate Auto,Four-Door Car,363.029680
10,SX51350,California,M,473899.20%,0.0,67.0,1/0/00,Personal Auto,Four-Door Car,482.400000
...,...,...,...,...,...,...,...,...,...,...
12063,WZ45103,California,F,5678.050167,0.0,76.0,0,Personal Auto,Four-Door Car,364.800000
12065,RX91025,California,M,19872.262,0.0,185.0,0,Personal Auto,SUV,1950.725547
12066,AC13887,California,M,4628.995325,0.0,67.0,0,Corporate Auto,Two-Door Car,482.400000
12071,TD14365,California,M,8163.890428,0.0,85.0,3,Corporate Auto,Four-Door Car,790.784983
12073,Y167826,California,M,2611.836866,0.0,77.0,0,Corporate Auto,Two-Door Car,369.600000

In [50]:
full['customer lifetime value']

NameError: name 'x' is not defined

In [59]:
def clean_clv(x):
    if x.isnan:
        return 0
    elif x.str.endswith('%'):
        x.replace('%',' ')
        x * 100
        return x
    else:
        return x

In [61]:
x.info()

NameError: name 'x' is not defined